.notImportant {
  font-size: 12px;
  color:silver;
}

.comments {
  font-size: 12px;
  color:red;
}

.author {
  color:blue;
}

a {
  color:red;
  text-decoration: none;
}

.grid-container {
  display:grid;
  grid-template-columns: 0.1fr 1fr;
  border: 1px solid black
}